body{
	background-color: #D4D5D7;
}
.container.faq{
	background-color: #eca100;
	color:white;
	padding: 25px 50px;
	font-weight: bold;
	width:100%;
}
.container.question{
	padding: 20px 20px;
	font-size:10px;
}
.collapsible{
	margin-top:20px;
}
.collapsible-body{
	background-color:white;
}