
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
	font-family: 'Roboto', sans-serif;

}
nav{
	background-color: #3C3C3E;

}
.brand-logo{
	font-family: 'Inconsolata', monospace;
	font-size: 10px;
}